.search-field {
  border-radius: 0.75rem;
  background: rgba(142, 142, 147, 0.14);

  margin: 1rem 1rem 0.5rem 1rem;
  padding: 0.875rem 1rem;

  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  svg {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    color: rgb(174, 174, 178);
  }

  input {
    outline: none;
    border: none;
    background: none;

    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.43px;

    &::placeholder {
      color: rgb(142, 142, 147);
    }
  }
}

.currencies {
  display: flex;
  flex-flow: column;
}

.currency {
  padding: 1.125rem 1rem;
  display: grid;
  grid-template-columns: 1fr 0.875rem;
  align-items: center;
  border-bottom: 1px solid rgb(200 199 203 / 0.25);

  &:last-child {
    border-bottom: none;
  }

  &__name {
    color: rgb(25, 26, 29);
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.43px;
  }

  &__icon {
    width: 0.875rem;
    height: 0.875rem;
    flex-shrink: 0;
    color: #1470f5;
  }
}
