.wrapper {
  background: rgb(244, 246, 248);
  height: 100%;
  padding-inline: 1rem;
  padding-block-start: 1rem;
}

.wallet {
  border-radius: 1rem;
  background: rgb(255, 255, 255);
  padding: 1rem;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__wallet {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
      }

      span {
        color: rgb(25, 26, 29);
        font-size: 1rem;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.43px;
      }

      svg {
        color: rgb(142, 142, 147);

        height: 0.5rem;
        width: 0.75rem;
        flex-shrink: 0;
      }
    }

    &__settings {
      svg {
        width: 1.25rem;
        height: 1.25rem;
        flex-shrink: 0;

        color: rgb(142, 142, 147);
      }
    }
  }

  &-main {
    margin-top: 2rem;

    &__balance {
      font-weight: 500;
      line-height: 28px;
      letter-spacing: -0.26px;
      text-align: center;

      span {
        &:nth-child(1) {
          color: #191a1d;
          font-size: 2rem;
        }

        &:nth-child(2) {
          color: #8e8e93;
          font-size: 1.625rem;
        }
      }
    }

    &__stocks {
      margin-top: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      color: rgb(57, 204, 131);

      svg {
        width: 0.5rem;
        height: 0.5rem;
        flex-shrink: 0;
      }

      span {
        font-size: 1rem;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.43px;
      }
    }
  }

  &-actions {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    &__button-send {
      width: 100%;
    }

    &__button-replenish {
      width: 100%;
    }

    &__button-swap {
      display: grid;
      place-items: center;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.history {
  margin-top: 1rem;

  background: #fff;
  border-radius: 1rem 1rem 0 0;

  &-nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;

    position: sticky;
    top: 0;
    background: #fff;
    border-radius: 1rem;

    &__link {
      color: rgb(142, 142, 147);
      font-size: 1rem;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.43px;
      text-decoration: none;
      text-align: center;

      position: relative;

      &.active {
        color: rgb(25, 26, 29);

        &::before {
          content: ' ';

          position: absolute;
          bottom: -0.375rem;
          left: 50%;
          transform: translateX(-50%);

          width: 1.5rem;
          height: 0.1875rem;
          border-radius: 0.25rem;
          background: rgb(25, 26, 29);
        }
      }
    }
  }
}
